.action-btn {
    padding-bottom: 3%;
}

.action-mark {
    float: left;
    margin-top: -35px;
}

.btn, .sweet-alert button {
    width: 100px;
}

.btn-mark {
    width: 140px;
}

.btn-more {
    width: 130px;
}

.required {
    color: red;
}

.th-action {
    width: 1%;
}

.th-mark {
    width: 1% !important;
}

.th-status {
    width: 10%;
}
