.action-btn {
    padding-bottom: 3%;
}

.action-mark {
    float: left;
    margin-top: -35px;
}

.btn, .sweet-alert button {
    width: 100px;
}

.btn-sm {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-new {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 100px;
}

.btn-long {
    width: 150px;
}

.btn-mark {
    width: 140px;
}

.btn-more {
    width: 130px;
}

.margin-15 {
    margin-top: 15px;
}

.required {
    color: red;
}

.th-action {
    width: 1%;
}

.th-mark {
    width: 1% !important;
}

.th-status {
    width: 10%;
}

.dataTable {
    width: 100% !important;
}

.dataTables_wrapper .dataTables_paginate {
    float: right !important;
}

.dataTables_filter {
    display: none;
}

.dataTables_paginate {
    margin-top: 5px !important;
}

.hidden {
    display: none !important;
}

.word-wrap {
    word-wrap: break-word !important;
    white-space: normal !important;
}

.sweet-alert button {
    width: 100px;
}

.block {
    display: block;
}
